$blue: #0b49c7;
$white: #fff;
$container-width: 1260px;
$container-wild-width: 1740px;
$container-padding: 15px;
$dark-shade: #222b3d;
$gray: #c8cbd3;
$social-icon: #dddfe5;
$light-gray: #dddfe5;
$map-background: #f9f9f9;