@import "fonts";
@import "variables";
@import "mixins";

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-wild {
  max-width: $container-wild-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 164px;
  box-sizing: border-box;
}

#atom {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.atom-inner {
  flex: 1 0 auto;
}

footer {
  background: $white;
  flex: 0 0 auto;
  padding: 70px 0 90px 0;
}

nav {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;

  a {
    font-family: "TT Norms", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: .5px;
  }

  .nav-link_separator {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    transform: translateY(6px);
    margin: 0 40px;
  }
}

.burger {
  cursor: pointer;
  margin-left: 48px;
  width: 31px;

  &:hover {
    .burger-line_1 {
      width: 16px;
    }

    .burger-line_3 {
      width: 32px;
    }
  }

  .burger-line {
    height: 3px;
    transition: width 350ms ease;

    &_1 {
      width: 31px;
      margin-bottom: 6px;
    }

    &_2 {
      width: 24px;
      margin-bottom: 6px;
    }

    &_3 {
      width: 16px;
    }
  }
}

.atom-copyright {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  color: $gray;
  line-height: 1.5;
  margin: 24px 0;
  letter-spacing: .4px;
}

.contact-icons {
  margin-left: auto;
  display: inline-flex;
  align-items: center;

  .wtsp {
    margin-right: 30px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    svg {
      transition: fill 300ms ease;
    }
  }
}

.atom-phone {
  font-family: "TT Norms", sans-serif;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
  position: relative;

  &.striped {
    &:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 11px;
      z-index: 1;
      display: block;
      background: $white;
      transform: rotate(45deg);
      top: 38px;
      left: -24px;
      pointer-events: none;
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 72px;
      height: 81px;
      top: 4px;
      z-index: 2;
      background: url(../svg/stripe.svg) no-repeat;
      pointer-events: none;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 50px 0;

  .atom-phone {
    font-size: 22px;
    font-weight: 500;
    margin-right: 40px;

    &:hover {
      opacity: .75;
    }

  }

  .contact-icons {
    padding-top: 10px;
  }

  .atom-logo {
    margin-right: 84px;
  }

  // Белый фон, сине-черный текст

  &-light {
    background: $white;

    .atom-phone {
      color: $dark-shade;
    }

    @include social-icons;

    .nav-link_separator {
      border: 2px solid $blue;
    }

    .burger-line {
      background: $blue;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $blue;
      }
    }

    nav {
      .nav-link {
        color: $dark-shade;

        &:after {
          background: transparentize($dark-shade, .5);
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  // Темный фон, светлый текст
  &-dark {
    background: $blue;

    .atom-phone {
      color: $white;
    }

    .contact-icons {
      svg {
        fill: $white;
      }
    }

    .nav-link_separator {
      border: 2px solid $white;
    }

    .burger-line {
      background: $white;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $white;
      }
    }

    nav {
      .nav-link {
        color: $white;

        &:after {
          background: transparentize($white, .5);
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  .header-inner {
    display: flex;
    align-items: flex-start;

    .nav-link:after {
      content: '';
      height: 2px;
      display: block;
      transition: width 300ms ease;
      transform: translateY(5px);
      will-change: transform;
      width: 0;
    }
  }
}

.logo-link {
  display: inline-block;
  svg {
    display: block;
  }
}

.footer-nav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-auto-flow: column;
  grid-row-gap: 30px;
  padding-top: 15px;

  a {
    font-size: 18px;
    font-family: "TT Norms", sans-serif;
    color: $dark-shade;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    transition: color 250ms ease;
    letter-spacing: 0.5px;

    &.active,
    &:hover {
      color: $blue;
    }
  }
}

#map {
  background: $map-background;
  min-height: 700px;
  width: 100%;

  .ymaps-layers-pane {
    -webkit-filter: grayscale(100%);
  }
}

footer {
  background: $white;
  padding: 70px 0 90px 0;

  .footer-inner {
    display: grid;
    grid-template-columns: minmax(auto, 360px) minmax(auto, 457px) auto;

    .column_3 {
      text-align: right;
    }
  }

  .atom-phone {
    font-size: 48px;
    color: $light-gray;
    font-weight: bold;
    line-height: 1.083;
  }

  .logo-link {
    svg {
      fill: $blue;
    }
  }

  @include social-icons;
}

section {
  &.home {
    background: $blue;
    min-height: 100vh;
  }
}

.button {
  font-weight: bold;
  font-family: "TT Norms", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 1.2;
  border-radius: 30px;
  border: none;
  padding: 21px 35px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  .up,
  .down {
    position: relative;
    transition: opacity 0.15s ease-in-out, top 0.25s ease-in-out;
    will-change: top;
  }
  .up {
    top: 0;
    opacity: 1;
  }
  .down {
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    right: 0;
    top: 80px;
    width: 100%;
  }
  &_blue {
    background: $blue;
    color: $white;
    font-size: 15px;
  }
  &:hover {
    .up {
      top: -60px;
      opacity: 0;
    }
    .down {
      top: 21px;
      opacity: 1;
    }
  }
}

.atom-address {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  color: $dark-shade;
  line-height: 1.667;
  text-align: right;
  margin-top: 22px;
  margin-bottom: 48px;
  span {
    border-bottom: 3px solid $blue;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 0.2px;
  }
}