@import "fonts";
@import "variables";

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 164px;
}

nav {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  a {
    font-family: "TT Norms", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: .5px;
  }
  .nav-link_separator {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    transform: translateY(6px);
    margin: 0 40px;
  }
}

.burger {
  cursor: pointer;
  margin-left: 48px;
  &:hover {
    .burger-line_1 {
      width: 16px;
    }
    .burger-line_3 {
      width: 32px;
    }
  }
  .burger-line {
    height: 3px;
    transition: width 350ms ease-in-out;
    &_1 {
      width: 31px;
      margin-bottom: 6px;
    }
    &_2 {
      width: 24px;
      margin-bottom: 6px;
    }
    &_3 {
      width: 16px;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 50px 0;
  .contacts {
    margin-left: auto;
    padding-top: 10px;
    display: inline-flex;
    align-items: center;
    .wtsp {
      margin-right: 30px;
    }
    svg {
      fill: $white;
    }
    a {
      display: inline-block;
      text-decoration: none;
      transition: opacity 300ms ease;
      &:hover {
        opacity: .75;
      }
    }
  }
  .phone-link {
    font-family: "TT Norms", sans-serif;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
  }
  .atom-logo {
    margin-right: 84px;
  }
  &-light {
    background: $white;
    .nav-link_separator {
      border: 2px solid $blue;
    }
    .burger-line {
      background: $blue;
    }
    .atom-logo {
      display: inline-block;
      svg {
        display: block;
        fill: $blue;
      }
    }
    nav {
      .nav-link {
        color: $dark-shade;
        &:after {
          background: transparentize($dark-shade, .5);
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
  &-dark {
    background: $blue;
    .nav-link_separator {
      border: 2px solid $white;
    }
    .burger-line {
      background: $white;
    }
    .atom-logo {
      display: inline-block;
      svg {
        display: block;
        fill: $white;
      }
    }
    nav {
      .nav-link {
        color: $white;
        &:after {
          background: transparentize($white, .5);
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
  .header-inner {
    display: flex;
    align-items: flex-start;

    .nav-link:after {
      content: '';
      height: 2px;
      display: block;
      transition: width 300ms ease;
      transform: translateY(5px);
      width: 0;
    }
  }
}

footer {
  background: $white;
  padding: 70px 0 90px 0;

  .logo-link {
    svg {
      fill: $blue;
    }
  }
}

section {
  &.home {
    background: $blue;
    min-height: 100vh;
  }
}