@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "swiper";
@import "project";

button,
input,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-menu {
  max-width: $container-menu;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: grid;
  @include respond(890px) {
    margin: 95px auto 95px;
    grid-template-columns: repeat(auto-fit, minmax(275px, auto));
  }
  @include respond(600px, 890px) {
    margin: 35px auto 35px;
    grid-template-columns: 1fr 1fr;
  }
  @include respond(0, 600px) {
    margin: 35px auto 35px;
    grid-template-columns: 1fr;
    text-align: center;

  }

}

.container-full {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-wild {
  max-width: $container-wild-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-medium {
  max-width: $container-medium-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.checkbox {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: $white;
  line-height: 1.667;
  cursor: pointer;
  letter-spacing: 0.2px;
  position: relative;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 14px;
    left: 7px;
  }

  input:checked + span {
    background: $white url(../img/sprite.svg#check-symbol) no-repeat center;
    background-size: 15px 13px;
  }

  span {
    width: 25px;
    height: 25px;
    display: inline-block;
    box-shadow: inset 0 0 0 1px $white;
    transform: translateY(8px);
    margin-right: 10px;
    transition: background 250ms ease;
    background-position: center;
  }

  a {
    text-decoration: none;
    color: $white;
    display: inline-block;
    border-bottom: 1px solid $white;
  }
}

input {
  font-family: 'TT Norms', sans-serif;
}

html,
body {
  height: 100%;
  font-variant-ligatures: none;
}

body {
  font-family: "TT Norms", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  &.feedback-open {
    overflow: hidden;
    .popup {
      transition: transform .35s linear;
      transform: translateX(0);
    }
  }
  &.menu-open {
    overflow: hidden;
    .menu {
      transition: transform .35s linear;
      transform: translateX(0);
    }
  }
}

.slider-wrap {
  position: relative;
}

.slider-arrows {
  display: flex;
  right: 0;

  @include respond(0, 1100px) {
    justify-content: center;
  }
  @include respond(1100px) {
    justify-content: flex-end;
    position: absolute;
    bottom: 45px;
  }

  .slider-prev,
  .slider-next {
    outline: 0;
    cursor: pointer;
    svg {
      display: block;
      transition: fill 350ms ease;
      fill: $light-gray;
    }
    &:hover {
      svg {
        fill: $blue;
      }
    }
  }
  .slider-prev {
    margin-right: 35px;
    svg {
      transform: rotate(180deg);
    }
  }

}

#atom {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: auto;
  padding-top: ($header-padding * 2) + 64px;
  box-sizing: border-box;
}

.search-block {

  @include respond(836px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-block {
    display: flex;
    align-items: center;
    width: 100%;
    @include respond(836px) {
      max-width: 595px;
      margin-top: 10px;
    }
    @include respond(0, 836px) {
      margin-top: 25px;
    }
  }

  .search-icon {
    width: 45px;
    text-align: right;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      svg {
        display: block;
        fill: $blue;
      }
      cursor: pointer;
      background: transparent;
      border: none;
      margin: 0;
      outline: none;
      padding: 0;
    }
  }

  .search-block_wrap {
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: flex;
    align-items: center;
    input {
      height: 46px;
      border: none;
      outline: none;
      width: 100%;
      font-size: 18px;
      letter-spacing: 0.2px;
      padding-left: 14px;
    }
    &.active {
      .clear-search_input {
        opacity: 1;
      }
    }
    .clear-search_input {
      width: 16px;
      height: 16px;
      opacity: 0;
      cursor: pointer;
      &:hover {
        svg {
          fill: $blue;
        }
      }
      svg {
        display: block;
        pointer-events: none;
        fill: transparentize($dark-shade, .8);
        transition: fill 250ms linear;
      }
    }
  }

}

.projects-grid {

  @include respond(0, 1306px) {
    margin-top: 23px;
  }

  @include respond(1306px) {
    background: $gray-background;
    margin-top: 237px;
    margin-bottom: -30px;
  }
}

.cards-wrap {

  @include respond(0, 1306px) {
    margin-top: 23px;
  }

  @include respond(1306px) {
    background: $gray-background;
    margin-top: 237px;
    margin-bottom: -30px;
  }

  &.paddings {
    .image-wrap {
      margin-bottom: 35px;
    }
  }
}

.cards-list {
  display: grid;

  @include respond(836px) {
    grid-template-columns: minmax(100px, 595px) minmax(100px, 595px);
  }
  @include respond(0, 836px) {
    grid-template-columns: 1fr;
  }

  @include respond(836px, 1306px) {
    padding-bottom: 184px;
  }
  @include respond(0, 836px) {
    padding-bottom: 44px;
  }
  @include respond(1306px) {
    transform: translateY(-214px);
  }
  @include respond(1020px) {
    grid-gap: 70px;
  }
  @include respond(836px, 1020px) {
    grid-gap: 35px;
  }
  @include respond(0, 836px) {
    grid-gap: 60px;
  }
}

.cards-item {
  &:hover {
    .cards-popup {
      opacity: 1;
    }
  }
  .article-info {
    display: flex;
    flex-direction: column;
    padding-right: 10px;

    @include respond(836px) {
      min-height: 274px;
    }
  }

  .author {
    display: flex;
    margin-top: auto;

    &-info {
      letter-spacing: 0.2px;
      .name {
        font-size: 18px;
        font-weight: 500;
        color: $dark-shade;
        line-height: 1.3;
      }
      .role {
        margin-top: 2px;
        color: transparentize($dark-shade, .5)
      }
    }

    &-image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;

      img {
        display: block;
      }
    }
  }
  .title {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    color: $dark-shade;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 14px;
    letter-spacing: 0.25px;
    margin-bottom: 7px;
    transition: color 250ms linear;
    &:hover {
      color: $blue;
    }
  }
  .content {
    font-size: 18px;
    color: $dark-shade;
    line-height: 1.667;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  .date {
    color: $blue;
    font-size: 18px;
    letter-spacing: 0.25px;
    a {
      color: $blue;
      font-weight: 500;
      text-decoration: none;
    }
  }
  &:hover {
    .image-wrap img {
      transform: scale(1.1);
    }
  }
}

.image-wrap {
  display: block;
  overflow: hidden;
  position: relative;
  .cards-popup {
    position: absolute;
    color: $white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: transparentize($blue, .25);
    display: flex;
    flex-direction: column;
    transition: opacity 250ms linear;
    @include respond(1120px) {
      padding: 75px 70px;
    }
    @include respond(0, 1120px) {
      padding: 35px 40px;
    }
    opacity: 0;
    .title {
      color: $white;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
    }
    .description {
      font-size: 18px;
      line-height: 1.524;
      margin-top: auto;
    }
    .category {
      font-size: 18px;
      line-height: 1.2;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  img {
    transition: transform 250ms linear;
    display: block;
    width: 100%;
  }
}


.tags {
  a {
    @include respond(1170px) {
      font-size: 28px;
    }
    @include respond(0, 1170px) {
      font-size: 20px;
      margin-bottom: 16px;
    }
    color: $dark-shade;
    font-weight: bold;
    text-decoration: none;
    transition: color 250ms linear;
    display: inline-block;
    margin-bottom: 25px;

    &:not(:last-child) {
      margin-right: 53px;
    }

    &.active,
    &:hover {
      color: $blue;
    }
  }
}

.atom-inner {
  flex: 1 0 auto;
  .feedback-image {

    &.atom-image_subscribe {
      top: -6px;
    }

    &:not(.atom-image_subscribe) {
      top: 35px;
    }

    @include respond(1740px) {
      right: 195px;
    }
    @include respond(1500px, 1740px) {
      right: 70px;
    }

    @include respond(1280px, 1500px) {
      width: 500px;
      right: 70px;
    }

    @include respond(0, 1280px) {
      display: none;
    }
  }
}

footer {
  background: $white;
  flex: 0 0 auto;
  padding: 70px 0 90px 0;
}

nav {
  display: flex;

  .nav-link {
    font-family: "TT Norms", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: .5px;

    @include respond(0, 760px) {
      display: none;
    }
  }

  .nav-link_separator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateY(6px);
    margin: 0 40px;

    @include respond(0, 760px) {
      display: none;
    }
    @include respond(760px) {
      display: inline-block;
    }
  }

}

.burger {
  cursor: pointer;
  margin-left: 48px;
  width: 31px;
  &:hover {
    .burger-line_1 {
      width: 16px;
    }

    .burger-line_3 {
      width: 32px;
    }
  }

  .burger-line {
    height: 3px;
    transition: width 450ms ease;

    &_1 {
      width: 31px;
      margin-bottom: 6px;
    }

    &_2 {
      width: 24px;
      margin-bottom: 6px;
    }

    &_3 {
      width: 16px;
    }
  }
}

.atom-copyright {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  color: $gray;
  line-height: 1.5;
  margin: 22px 0 28px;
  letter-spacing: .4px;
}

.contact-icons {
  margin-left: auto;
  display: inline-flex;
  align-items: center;

  .wtsp {
    margin-right: 30px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    svg {
      display: block;
      transition: fill 300ms ease;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

.section-headline {
  @include respond(1280px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .section-excerpt {
    font-size: 21px;
    color: $dark-shade;
    line-height: 1.524;
    letter-spacing: .2px;
    margin-top: 18px;
    @include respond(1280px) {
      margin-right: 103px;
      max-width: 512px;
    }
    @include respond(0, 1280px) {
      text-align: center;
    }
  }
}

.striped {
  position: relative;
  &:before {
    background: inherit;
  }
  svg {
    position: absolute;
    z-index: 1;
    left: -31px;
    pointer-events: none;
  }
  &_blue {
    background: $gray-background;
    color: $blue;
    svg {
      fill: $blue;
    }
  }
  &_black {
    background: $gray-background;
    color: $dark-shade;
    svg {
      fill: $dark-shade;
    }
  }
  &_black-white {
    background: $white;
    color: $dark-shade;
    svg {
      fill: $dark-shade;
    }
  }
  &_blue-on-white {
    background: $white;
    color: $blue;
    svg {
      fill: $blue;
    }
  }
  &_gray {
    &:before {
      background: inherit;
    }
    svg {
      fill: $light-gray;
    }
  }
  &_white {
    background: $blue;
    color: $white;
    svg {
      fill: $white;
    }
  }
}

footer {
  .atom-phone {
    position: relative;
    @include respond(0, 1280px) {
      svg {
        display: none;
      }
    }
    @include respond(1280px) {
      &:before {
        content: '';
        position: absolute;
        width: 48px;
        height: 22px;
        z-index: 1;
        display: block;
        transform: rotate(45deg);
        top: 39px;
        left: -23px;
        pointer-events: none;
        background: $white;
      }
    }
  }
}

.atom-phone {
  font-family: "TT Norms", sans-serif;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: $header-padding 0;

  @include respond(0, 1170px) {
    .wtsp,
    .tlgr {
      display: none;
    }
  }

  .atom-phone {
    font-size: 22px;
    font-weight: 500;

    @include respond(1170px) {
      margin-right: 40px;
    }

  }

  .atom-logo {
    position: relative;
    z-index: 10;
    @include respond(1020px) {
      margin-right: 84px;
    }
    @include respond(0, 1020px) {
      margin-right: auto;
    }
  }

  .contact-icons {
    @include respond(0, 1020px) {
      display: none;
    }
  }

    // Белый фон, сине-черный текст

  &-light {
    background: $white;

    .atom-phone {
      color: $dark-shade;
      transition: color 250ms linear;
      &:hover {
        color: $blue;
      }
    }

    @include social-icons;

    .nav-link_separator {
      border: 2px solid $blue;
    }

    .burger-line {
      background: $blue;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $blue;
      }
    }

    nav {
      .nav-link {
        color: $dark-shade;
        transition: color 250ms linear;

        &:hover {
          color: $blue;
        }
        &:after {
          background: transparentize($dark-shade, .5);
        }

        //&:hover:after {
        //  width: 100%;
        //}
      }
    }
  }

  // Темный фон, светлый текст
  &-dark {
    background: $blue;

    .atom-phone {
      color: $white;
      &:hover {
        opacity: .75;
      }
    }

    .contact-icons {
      svg {
        fill: $white;
      }
    }

    .nav-link_separator {
      border: 2px solid $white;
    }

    .burger-line {
      background: $white;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $white;
      }
    }

    nav {
      .nav-link {
        color: $white;
        transition: opacity 180ms linear;

        &.unactive {
          opacity: .4;
        }

        &:after {
          background: transparentize($white, .5);
        }

        //&:hover:after {
        //  width: 100%;
        //}
      }
    }
  }

  .header-inner {
    display: flex;
    align-items: center;

    .nav-link {
      &:after {
        content: '';
        height: 2px;
        display: block;
        transition: width 300ms ease;
        transform: translateY(5px);
        will-change: transform;
        width: 0;
      }
    }
  }
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(0, 650px) {
    flex-direction: column;

    .atom-bottom_text {
      text-align: center;
      margin-bottom: 25px;
    }
  }
}

.wtsp,
.tlgr {
  transition: opacity 250ms linear;
  &:hover {
    opacity: .5;
  }
}

.logo-link {
  display: inline-block;
  svg {
    display: block;
  }
}

.footer-nav {
  .footer-nav_item {
    @include respond(0, 980px) {
      margin: 12px 0;
    }
  }
  @include respond(980px) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-auto-flow: column;
    grid-row-gap: 30px;
    padding-top: 15px;
  }

  a {
    font-size: 18px;
    font-family: "TT Norms", sans-serif;
    color: $dark-shade;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    transition: color 250ms ease;
    letter-spacing: 0.5px;

    &.active,
    &:hover {
      color: $blue;
    }
  }
}

#map {
  background: $map-background;
  width: 100%;
  overflow-x: hidden;
  @include respond(760px) {
    min-height: 700px;
  }
  @include respond(0, 760px) {
    min-height: 400px;
  }

  .ymaps-layers-pane {
    -webkit-filter: grayscale(100%);
  }
}

footer {
  background: $white;

  @include respond(980px) {
    padding: 70px 0 90px 0;
  }

  @include respond(0, 980px) {
    padding: 30px 0;
  }

  .footer-inner {
    @include respond(980px) {
      display: flex;
    }
    .column {
      width: 100%;
      @include respond(0, 980px) {
        text-align: center;
      }
    }
    .column_1 {
      @include respond(1280px) {
        max-width: 360px;
      }
      @include respond(980px, 1280px) {
        max-width: 300px;
      }
    }
    .column_2 {
      @include respond(980px, 1020px) {
        max-width: 270px;
      }
      @include respond(0, 980px) {
        margin: 30px 0;
      }
    }
    @include respond(980px) {
      .column_3 {
        text-align: right;
      }
    }
  }

  .atom-phone {
    color: $light-gray;
    font-weight: bold;
    line-height: 1.083;

    @include respond(1280px) {
      font-size: 48px;
    }
    @include respond(0, 1280px) {
      font-size: 34px;
    }
  }

  .logo-link {
    svg {
      fill: $blue;
    }
  }

  @include social-icons;
}

.feedback-form {
  position: relative;

  @include respond(1280px) {
    padding: 128px 0 121px;
  }
}

.article-image {
  width: 100%;
}

.relative {
  position: relative;
}

h1 {
  margin: 0;
  @include respond(760px) {
    font-size: 62px;
  }
  @include respond(0, 760px) {
    font-size: 48px;
  }
  font-weight: bold;
}

section {
  &.services {
    overflow-x: hidden;
    @include respond(520px) {
      padding: 110px 0 135px 0;
    }
    @include respond(0, 520px) {
      padding: 40px 0 50px 0;
    }
    background: $gray-background;
    .swiper-container {
      overflow: visible;
    }
  }
  &.article {
    @include respond(940px) {
      margin: 95px 0 0 0;
    }
    @include respond(0, 940px) {
      margin: 25px 0 0 0;
    }
    .author {
      display: flex;

      @include respond(940px) {
        margin-bottom: 80px;
      }
      @include respond(0, 940px) {
        margin-bottom: 40px;
      }

      .author-info {
        letter-spacing: 0.2px;
        padding-top: 6px;
      }
      .name {
        font-weight: 500;
        font-size: 21px;
        margin-bottom: 5px;
      }
      .role {
        font-size: 18px;
        color: transparentize($dark-shade, .5);
      }
      &-image {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 22px;
      }
    }
    h1 {
      color: $blue;
      font-weight: bold;
      line-height: 1.229;
      margin: 28px 0 40px 0;

      @include respond(940px) {
        font-size: 48px;
      }
      @include respond(0, 940px) {
        font-size: 32px;
      }
    }
    .article-content {
      @include respond(940px) {
        padding-top: 40px;
        padding-bottom: 170px;
      }
      @include respond(0, 940px) {
        padding-top: 40px;
        padding-bottom: 70px;
      }
    }
    .article-inner {
      padding-bottom: 170px;
    }
    .article-island {
      @include respond(0, 940px) {
        margin-top: 40px;
      }
      @include respond(940px) {
        position: absolute;
        display: inline-block;
        width: 33px;
        right: $container-padding;
      }
      &.end {
        bottom: 0;
      }
      &.fixed {
        .reply {
          @include respond(940px) {
            position: fixed;
            width: 33px;
            top: 174px;
            z-index: 2;
          }
        }
      }
      a {
        text-decoration: none;
        border-bottom: none;
        outline: 0;
        display: inline-block;
        &:not(:last-child) {
          @include respond(940px) {
            margin-bottom: 30px;
          }
          @include respond(0, 940px) {
            margin-right: 30px;
          }
        }
        &:hover {
          svg {
            fill: $blue;
          }
        }
      }
      svg {
        display: block;
        transition: fill 300ms ease;
        fill: $social-icon;
      }
    }
    .date {
      font-size: 18px;
      letter-spacing: 0.25px;
      a {
        color: $dark-shade;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
  .page-title_block {

    @include respond(1170px) {
      margin: 95px 0 72px 0;
    }
    @include respond(0, 1170px) {
      margin: 20px 0 45px 0;
    }
  }
  &.how {
    background: $white;
    height: 860px;

    .last {
      padding: 50px 0;
      svg {
        width: 900px;
        height: 933px;
      }
    }
  }
  &.portfolio {
    .cards-list {
      @include respond(0, 836px) {
        grid-gap: 25px;
      }
    }
    .cards-item {
      &:nth-child(even) {
        @include respond(1120px) {
          transform: translateY(45px);
        }
      }
    }
  }
  &.reviews {

    @include respond(760px) {
      padding: 98px 0 120px 0;
    }
    @include respond(0, 760px) {
      padding: 45px 0 55px 0;
    }

    .reviews-grid {
      display: grid;
      margin-bottom: 87px;
      @include respond(1020px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include respond(1280px) {
        margin-top: 25px;
      }
      @include respond(0, 1280px) {
        margin-top: 55px;
      }
      @include respond(800px, 1020px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond(520px, 800px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond(800px) {
        grid-row-gap: 95px;
      }
      @include respond(0, 800px) {
        grid-row-gap: 40px;
      }
      @include respond(0, 520px) {
        grid-template-columns: 1fr;
      }
      @include respond(1220px) {
        grid-column-gap: 55px;
      }
      @include respond(0, 1220px) {
        grid-column-gap: 15px;
      }
      &_cell {
        align-self: center;
        justify-self: center;
      }
      img {
        filter: contrast(0.8);
      }
    }
  }
  &.blog {
    background: $gray-background;
    overflow-x: hidden;
    .swiper-container {
      overflow: visible;
    }
    &-index {
      @include respond(520px) {
        padding: 100px 0 120px 0;
      }
    }
    &-article {
      @include respond(640px) {
        padding: 116px 0 120px 0;
      }
      @include respond(0, 640px) {
        padding: 116px 0 80px 0;
      }
    }
    @include respond(0, 520px) {
      padding: 40px 0 50px 0;
    }
  }
  &.contacts {
    @include respond(0, 1100px) {
      padding: 40px 0;
    }
    @include respond(1100px) {
      padding: 110px 0 122px 0;
    }
    .grid-cell_inner {
      @include respond(1024px) {
        max-width: 485px;
      }
    }
    .contacts-grid {
      display: flex;
      @include respond(0, 1024px) {
        align-items: center;
        text-align: center;
      }
      @include respond(1100px) {
        align-items: flex-start;
      }
      @include respond(0, 1100px) {
        flex-direction: column;
      }
      &_cell {
        .cell-item {
          &:not(:last-child) {

            @include respond(0, 980px) {
              margin-bottom: 30px;
            }
            @include respond(980px) {
              margin-bottom: 70px;
            }
          }
        }

        &:nth-child(1) {
          @include respond(1024px) {
            max-width: 726px;
          }
          width: 100%;
        }
        &:nth-child(2) {
          padding-top: 40px;
          @include respond(1024px) {
            max-width: 309px;
          }
          width: 100%;
        }
        &:nth-child(3) {
          padding-top: 40px;
          flex: 1;
          @include respond(1024px) {
            min-width: 200px;
          }
        }
      }
      .cell-title {
        font-size: 21px;
        line-height: 32px;
        font-family: "TT Norms", sans-serif;
        font-weight: 500;
        color: $contact-cell-title-color;
      }
      .cell-content {
        font-size: 18px;
        font-family: "TT Norms", sans-serif;
        color: $dark-shade;
        font-weight: 500;
        line-height: 1.667;
        .cell-content_phone {
          a {
            color: $dark-shade;
            font-size: 18px;
            font-family: "TT Norms", sans-serif;
            text-decoration: none;
            transition: color 250ms linear;
            &:hover {
              color: $blue;
            }
          }
        }
        .phone {
          font-size: 42px;
          font-weight: bold;
          color: $blue;
          text-decoration: none;
          position: relative;
          display: inline-block;
          line-height: 1.55;
          &:after {
            content: '';
            width: 100%;
            height: 3px;
            background: $blue;
            display: block;
          }
        }
      }
      .page-title {
        margin-bottom: 24px;
      }
      .page-description {
        letter-spacing: 0.2px;
      }
      .contacts-button {
        max-width: 485px;
        margin-top: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(0, 1100px) {
          padding-top: 25px;
          margin: 0 auto;
        }
        .link-hand {
          @include respond(0, 525px) {
            margin-top: 38px;
            margin-bottom: 18px;
          }
        }
        @include respond(0, 525px) {
          flex-direction: column;
        }
      }
    }
  }

  &.feedback {
    background: $blue;

    @include respond(0, 1280px) {
      padding: 35px 0;
    }

    .form {
      max-width: 615px;
      @include respond(0, 1280px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }
  &.home {
    background: $blue;
    min-height: calc(100vh - 114px);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .home-inner {
      display: flex;
      flex-direction: column;
    }

    .home-slider {
      flex: 1;

      @include respond(1366px) {
        min-height: 418px;
      }

      .cloud {
        position: absolute;
        left: 116px;
      }

      .swiper-container {
        overflow: visible;
      }

      .swiper-slide {

        .picture,
        .content {
          transition: transform 500ms linear;
        }

        &.swiper-slide-active {
          .picture {
            transform: translateX(0) translateY(-132px);
          }
          .content {
            transform: translateX(0);
          }
        }
        &:not(.swiper-slide-active) {
          .picture {
            transform: translateX(110px) translateY(-132px);
          }
          .content {
            transform: translateX(-110px);
          }
        }
      }

      .home-slider_block {
        transition: opacity 300ms ease, visibility 300ms ease;
        opacity: 0;
        visibility: hidden;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }

      .home-slider_item {
        display: flex;
        min-height: calc(100vh - 114px - 182px);
        align-items: center;
        box-sizing: border-box;

        @include respond(1366px) {
          padding-top: 45px;
        }
        @include respond(0, 1366px) {
          padding-top: 25px;
        }

      }

      .picture {
        flex: 1;
        position: relative;

        img {
          position: absolute;
          right: -278px;
          top: -40px;
          z-index: 10;
        }
      }

      .content {
        flex: 1;
        .title {
          @include respond(1366px) {
            font-size: 62px;
          }
          @include respond(0, 1366px) {
            font-size: 34px;
          }
          color: $white;
          font-weight: bold;
          line-height: 1.194;
        }
        .excerpt {
          color: $white;
          margin-top: 24px;
          letter-spacing: .2px;
          line-height: 1.524;
          max-width: 518px;
          margin-bottom: 41px;

          @include respond(1366px) {
            font-size: 21px;
          }
          @include respond(0, 1366px) {
            font-size: 18px;
          }

        }
      }
    }

    .progress-value {
      stroke-dasharray: 138.23008;
      stroke-dashoffset: -138.23008;
      opacity: 0;
      transition: stroke-dashoffset 0s linear .2s, opacity .2s linear;
    }

    .navigation {
      display: flex;
      padding: 68px 0;
    }

    .navigation-item {

      text-decoration: none;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 75px;
      }

      .icon-label {
        color: $white;
        margin-left: 13px;
        font-size: 18px;
      }
      .icon {
        position: relative;
        display: inline-block;
      }

      .svg-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          height: 22px;
        }
      }

      svg {
        fill: $white;
        display: block;
      }
    }

    .active {

      .icon-label {
        font-weight: bold;
      }

      .progress-value {
        stroke-dashoffset: 0;
        opacity: 1;
        transition-duration: 8s, .5s;
        transition-delay: 0s, 0s;
      }
    }

  }
}

.section-titlе {
  font-family: "TT Norms", sans-serif;
  margin-bottom: 37px;

  @include respond(0, 1280px) {
    display: block;
    svg {
      display: none;
    }
  }
  @include respond(1280px) {
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 22px;
      z-index: 1;
      display: block;
      transform: rotate(45deg);
      top: 38px;
      left: -23px;
      pointer-events: none;
    }
  }

  svg {
    position: absolute;
  }

  &:not(.full) {
    @include respond(0, 1280px) {
      text-align: center;
    }
  }
  @include respond(1280px) {
    margin-left: 30px;
  }
  @include respond(760px) {
    font-size: 48px;
  }
  @include respond(0, 760px) {
    font-size: 32px;
  }
  .bold {
    font-weight: bold;
  }
  .last {
    @include respond(1280px) {
      margin-left: 58px;
    }
  }
}

.form {
  @include respond(1336px) {
    margin-bottom: 40px;
  }
  .input {
    border: none;
    outline: none;
    background: none;
    color: $white;
    padding: 9px 0;
    font-size: 18px;
    letter-spacing: 0.25px;
    width: 100%;
    box-sizing: border-box;
  }

  .form-body {
    display: grid;
    grid-column-gap: 45px;
    grid-row-gap: 40px;
    margin-bottom: 32px;
    @include respond(640) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(0, 640) {
      grid-template-columns: 1fr;
    }

  }

  .policy {
    margin-bottom: 48px;
  }

  .input-wrap_wild {
    @include respond(640px) {
      grid-column: 1 / 3;
    }
  }

  .input-wrap {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px solid $white;
    padding-bottom: 2px;
    &.active {
      .input-placeholder {
        top: -15px;
        font-size: 13px;
        opacity: .7;
      }
    }

    .input-placeholder {
      position: absolute;
      font-family: 'TT Norms', sans-serif;
      font-size: 18px;
      color: $white;
      pointer-events: none;
      top: 8px;
      letter-spacing: 0.4px;
      transition: top 250ms ease, opacity 250ms ease, font-size 250ms ease;
    }

  }
}

.button {
  font-family: "TT Norms", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  user-select: none;

  &:not(.button_wild) {
    padding: 21px 35px;
  }
  &.button_wild {
    padding: 21px 46px;
  }

  &_blue {
    background: $blue;
    color: $white;
    font-size: 15px;
  }

  &_white {
    background: $white;
    color: $blue;
    @include respond(500px) {
      font-size: 15px;
    }
    @include respond(0, 500px) {
      font-size: 14px;
    }
  }

  .up,
  .down {
    position: relative;
    transition: opacity 0.15s ease-in-out, top 0.25s ease-in-out;
    will-change: top;
    user-select: none;
    text-align: center;
  }
  .up {
    top: 0;
    opacity: 1;
  }
  .down {
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    right: 0;
    top: 80px;
    width: 100%;
    pointer-events: none;
  }
  &:hover {
    .up {
      top: -60px;
      opacity: 0;
    }
    .down {
      top: 21px;
      opacity: 1;
    }
  }
}

.atom-address {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  color: $dark-shade;
  line-height: 1.667;
  margin-top: 22px;
  margin-bottom: 48px;
  span {
    border-bottom: 3px solid $blue;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 0.2px;
  }
}

.menu {
  overflow-y: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateX(-100%);
  background: $blue;
  color: $white;
  width: 100vw;
  z-index: 200;
  display: flex;
  flex-direction: column;
  will-change: transform;

  .column {
    flex: auto;
    min-width: 250px;
    padding: 0 15px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    ul:not(.medium) {
      li:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .medium {
      font-weight: 500;
      font-size: 21px;
      font-family: "TT Norms", sans-serif;
      line-height: 2.273;
    }

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        font-size: 21px;
        color: $white;
        text-decoration: none;
      }
    }
    .headline {
      color: $white;
      font-weight: bold;
      line-height: 1;

      @include respond(650px) {
        margin-bottom: 55px;
        font-size: 45px;
      }
      @include respond(0, 650px) {
        margin-bottom: 30px;
        font-size: 35px;
      }
    }
  }

  .atom-bottom_text {
    color: transparentize($white, .5);
    font-size: 18px;
    line-height: 1.6;
  }

  .contacts {
    a {
      display: inline-block;
      &:first-child {
        margin-right: 34px;
      }
    }
  }

  @include respond(1280px) {
    padding: 51px 0;
  }
  @include respond(0, 1280px) {
    padding: 25px 0;
  }

  .container-wild {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .atom-logo {
    display: inline-block;
  }

  .container-wild svg {
    display: block;
    fill: $white;
  }

  .form-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: $container-padding;
    svg {
      transition: transform 200ms ease;
      fill: $white;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }
}

.popup {
  overflow-y: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateX(-100%);
  background: $blue;
  color: $white;
  width: 100vw;
  z-index: 200;
  will-change: transform;

  @include respond(1280px) {
    padding: 51px 0;
  }
  @include respond(0, 1280px) {
    padding: 25px 0;
  }

  .feedback-image {

    @include respond(1740px) {
      right: 195px;
      top: 75px;
    }
    @include respond(1500px, 1740px) {
      right: 70px;
      top: 75px;
    }

    @include respond(1280px, 1500px) {
      width: 500px;
      right: 70px;
      top: 75px;
    }

    @include respond(0, 1280px) {
      display: none;
    }

  }

  .container-wild {
    position: relative;
  }

  .atom-logo {
    display: inline-block;
  }

  .container-wild svg {
    display: block;
    fill: $white;
  }

  .form-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: $container-padding;
    svg {
      transition: transform 200ms ease;
      fill: $white;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }

  .feedback-form {
    height: 100%;

    @include respond(1280px) {
      padding-top: 94px;
    }
    @include respond(0, 1280px) {
      padding-top: 24px;
    }
  }

}

.feedback-image {
  width: 641px;
  user-select: none;
  position: absolute;
  pointer-events: none;
  img {
    width: 100%;
  }
}

.headline {
  font-family: "TT Norms", sans-serif;
  color: $dark-shade;
  font-weight: bold;
  line-height: 1.194;

  @include respond(0, 760px) {
    font-size: 38px;
  }
  @include respond(760px) {
    font-size: 62px;
  }
}

.text-medium {
  font-family: "TT Norms", sans-serif;
  font-size: 21px;
  line-height: 32px;
}

.text-content {
  font-size: 18px;
  line-height: 28px;
}

.link-hand {
  font-size: 16px;
  white-space: nowrap;
  font-family: "TT Norms", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-shade;
  letter-spacing: .35px;
  position: relative;
  transition: color 300ms ease;
  will-change: transform;

  &:not(&_download) {
    svg {
      transform: translateY(2px);
    }
  }
  &_download {
    svg {
      transform: rotate(90deg) translateX(2px);
    }
  }
  &:hover {
    color: $blue;
    svg {
      fill: $blue;
    }
    &:before {
      width: 0;
    }
  }
  &:before {
    pointer-events: none;
    transition: width 300ms ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    right: 0;
    height: 3px;
    width: 100%;
    background: $blue;
    will-change: width;
  }
  svg {
    transition: fill 300ms ease;
    margin-left: 8px;
  }

}

.swiper-container {
  transition: opacity 700ms ease;
  &:not(.swiper-container-initialized) {
    opacity: 0;
    visibility: hidden;
  }

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }
}

.blog-index {
  .blog-slider_wrap {
    margin-top: 56px;
  }
}
.blog-article {
  .blog-slider_wrap {
    margin-top: 38px;
  }
}

.services-slider_wrap {
  @include respond(520px) {
    margin-bottom: 50px;
  }
  @include respond(0, 520px) {
    margin-bottom: 28px;
  }
  margin-top: 24px;

  .service-number {
    font-family: "TT Norms", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $light-gray;
    .current {
      color: $blue;
    }
  }

  .services-slider_item {
    text-decoration: none;
    background: $white;
    padding: 62px 15px 35px 50px;
    box-sizing: border-box;
    min-height: 560px;
    display: flex;
    flex-direction: column;

    .content {
      font-size: 18px;
      color: $dark-shade;
      margin-top: 38px;
      ul {
        padding-right: 50px;
        margin: 0;
      }
      ul,
      li {
        padding: 0;
        list-style: none;
      }
      li {
        margin-bottom: 14px;
        line-height: 1.5;
      }
    }

    .service-slider_wrap {
      flex: 1;
    }

    .service-icon {
      position: absolute;
      display: block;
      min-width: 102px;
      max-width: 102px;
      width: 100%;
      left: 17px;
      top: -11px;
      svg {
        display: block;
        width: 100%;
        fill: $blue;
      }
      font-size: 100px;
      font-weight: bold;
    }

    .service-heading {
      display: flex;
    }

    .title {
      font-size: 28px;
      font-family: "TT Norms", sans-serif;
      color: $blue;
      font-weight: bold;
      line-height: 1.214;
      max-width: 230px;
      margin-left: 80px;
      min-height: 66px;
      display: inline-block;
    }
  }


}

.blog-slider_wrap {
  margin-bottom: 42px;

  @include respond(940px) {
    min-height: 442px;
  }

  .blog-slider {
    &_item {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      letter-spacing: 0.2px;

      &:hover {
        .blog-image_wrap {
          .blog-image {
            transform: scale(1.22);
          }
        }
        .title {
          color: $blue;
        }
      }

      .blog-image_wrap {
        height: 235px;
        overflow: hidden;
        transition: transform 400ms linear;
        .blog-image {
          position: relative;
          background-size: cover;
          background-position: center;
          z-index: -1;
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-repeat: no-repeat;
          transition: transform 550ms ease;
        }
      }

      .category {
        font-weight: 500;

        a {
          color: $blue;
          text-decoration: none;
        }
      }
      .date {
        font-size: 18px;
        color: $blue;
        margin-top: 35px;
        line-height: 1.4;
      }
      .title {
        font-size: 27px;
        margin-top: 12px;
        color: $dark-shade;
        font-weight: bold;
        line-height: 1.4;
        transition: color 300ms ease;
        text-decoration: none;
      }
      .description {
        font-size: 18px;
        color: $dark-shade;
        line-height: 1.667;
        margin-top: 6px;
      }

      img {
        //max-width: 373px;
        display: block;
      }
    }
  }
}


.home-slider_half {
  &.picture {
    @include respond(0, 1366px) {
      display: none;
    }
  }
}

.svg-dots svg {
  width: 519px;
  position: absolute;
  left: 91px;
  z-index: 2;
  top: -96px;
}

body.success {
  overflow: hidden;
  .overlay-success {
    display: flex;
  }
}

.overlay-success {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;

  .inner {
    position: relative;
    background: $white;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    line-height: 1.28;

    @include respond(760px) {
      font-size: 25px;
      padding: 55px 20px;
    }
    @include respond(0, 760px) {
      font-size: 20px;
      padding: 40px 20px;
    }

    .form-close {
      position: absolute;
      right: 17px;
      top: 17px;
      cursor: pointer;

      &:hover {
        svg {
          fill: $blue;
        }
      }

      svg {
        fill: $dark-shade;
        display: block;
        transition: fill 250ms ease;
      }
    }

    p {
      margin-top: 0;
    }
  }
}

.cookie-popup {
  position: fixed;
  bottom: 15px;
  right: 15px;
  margin-left: 15px;
  z-index: 10;
  background: $white;
  max-width: 400px;
  font-size: 16px;
  line-height: 1.66;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, .06);

  @include respond(980px) {
    padding: 35px 45px;
  }
  @include respond(0, 980px) {
    padding: 20px 25px;
  }
  p {
    margin-bottom: 0;
  }
  .cookie-close {
    color: $blue;
    text-decoration: none;
    font-weight: 600;
  }
}

.page-text {
  position: relative;
  font-size: 21px;
  color: $dark-shade;
  line-height: 1.524;
  letter-spacing: 0.2px;

  h1 {
    line-height: 1.2;
    margin-top: 15px;
  }

  &.full {
    padding-top: 65px;
  }

  &:not(.full) {
    @include respond(940px) {
      padding-right: 100px;
    }
  }
}

.text-content {
  a {
    color: $blue;
    text-decoration: none;
    display: inline;
    font-weight: 500;
    border-bottom: 1px solid;
    transition: border-color 150ms linear;
    &:hover {
      border-color: transparent;
    }
  }
  p {
    margin-bottom: 33px;
    font-size: 21px;
    line-height: 1.524;

    b {
      font-weight: 500;
    }

    img {
      width: 100%;
      display: block;
      margin: 50px 0;
    }
  }
  ol {
    counter-reset: num;
    list-style: none;
    margin: 0;
    padding-left: 40px;
    li {
      counter-increment: num;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
    li:before {
      font-size: 20px;
      position: absolute;
      content: counter(num);
      font-weight: bold;
      color: $blue;
      left: -40px;
      top: -1px;
    }
    li:nth-child(-n+9):before {
      content: "0" counter(num);
    }
  }
  b {
    font-weight: 500;
  }
  ul {
    padding: 0 0 0 42px;
    margin: 0 0 36px 0;

    list-style: none;
    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      &:before {
        content: '';
        left: -42px;
        top: 11px;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid $blue;
        border-radius: 50%;
      }
    }
  }
  h2 {
    font-size: 27px;
    color: $dark-shade;
    margin-top: 47px;
    font-weight: bold;
    line-height: 1.926;
  }
}

.page-text {
  a {
    color: $blue;
    text-decoration: none;
    display: inline;
    font-weight: 500;
    border-bottom: 1px solid;
    transition: border-color 150ms linear;
    &:hover {
      border-color: transparent;
    }
  }
  p {
    margin-bottom: 33px;

    img {
      width: 100%;
      display: block;
      margin: 50px 0;
      height: auto;
    }
  }
  ol {
    counter-reset: num;
    list-style: none;
    margin: 0;
    padding-left: 40px;
    li {
      counter-increment: num;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
    li:before {
      font-size: 20px;
      position: absolute;
      content: counter(num);
      font-weight: bold;
      color: $blue;
      left: -40px;
      top: 2px;
    }
    li:nth-child(-n+9):before {
      content: "0" counter(num);
    }
  }
  b {
    font-weight: 500;
  }
  ul {
    padding: 0 0 0 42px;
    margin: 0 0 36px 0;

    list-style: none;
    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      &:before {
        content: '';
        left: -42px;
        top: 11px;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid $blue;
        border-radius: 50%;
      }
    }
  }
  h2 {
    font-size: 27px;
    color: $dark-shade;
    margin-top: 47px;
    font-weight: bold;
    line-height: 1.926;
  }
}

body.subscribe {
  overflow: hidden;

  .subscribe-overlay {
    display: flex;
  }
}

.subscribe-overlay {
  position: fixed;
  z-index: 1000000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;

  .feedback-form {
    background: $blue;
  }

  .close-form {
    position: absolute;
    cursor: pointer;
    z-index: 10;

    @include respond(800px) {
      right: 50px;
      top: 50px;
    }
    @include respond(0, 800px) {
      right: 20px;
      top: 20px;
    }

    svg {
      fill: $white;
      display: block;
    }
  }

  .feedback-form {
    max-width: 900px;
    position: relative;
    margin: auto;
    box-shadow: 0 18px 25px rgba(0, 0, 0, .26);
    width: 100%;

    @include respond(800px) {
      padding: 50px;
    }
    @include respond(0, 800px) {
      padding: 50px 20px;
    }

  }
}

.hand-grid {
  @include respond(1120px) {
    display: flex;
    margin-bottom: -42px;
  }
  .hand-content {
    @include respond(1120px) {
      padding-top: 120px;
    }
    @include respond(0, 1120px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    padding-right: 20px;
    box-sizing: border-box;
  }
  .striped svg {
    left: -28px;
    top: -4px;
  }
  .section-titlе {
    margin-bottom: 22px;

    @include respond(1120px, 1280px) {
      padding-left: 90px;
    }

    &:before {
      top: 36px;
      left: -19px;
    }
  }

  .text-content {
    letter-spacing: .2px;

    @include respond(1120px) {
      padding-left: 90px;
      max-width: 570px;
    }
    p {
      margin-top: 0;
    }
  }

  .how-block {
    margin-top: 47px;
    @include respond(1120px) {
      padding-left: 90px;
    }
  }
}

.hand-svg {
  position: relative;
  padding-top: 35px;
  @include respond(1420px, 1650px) {
    max-width: 680px;
    svg {
      max-width: 760px;
    }
  }

  @include respond(0, 1120px) {
    display: none;
  }
  @include respond(0, 1420px) {
    max-width: 510px;
    svg {
      max-width: 740px;
    }
  }
  .hand-image {
    @include respond(1420px) {
      transform: translateX(-50px);

    }
    @include respond(0, 1420px) {
      transform: translateX(-165px);
    }
  }
  .cloud {
    position: absolute;
    z-index: -1;

    @include respond(1650px) {
      right: 54px;
      top: 219px;
    }
    @include respond(1420px, 1650px) {
      right: -20px;
      top: 249px;
      max-width: 244px;
    }
    @include respond(0, 1420px) {
      right: -56px;
      top: 255px;
      max-width: 230px;
    }
  }
}

.projects {
  background: $gray-background;
  padding-top: 128px;

  .project-slider_block {
    margin-top: 100px;
    position: relative;

    @include respond(740px) {
      height: 648px;
    }
  }

  .button-next {
    right: 15px;
    &:hover {
      transform: translateX(5px);
    }
  }

  [aria-disabled="true"] {
    opacity: .4;
  }

  .button-next,
  .button-prev {
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 55px;
    margin: auto;
    z-index: 5;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms ease;

    &.swiper-button-disabled {
      svg {
        display: none;
      }
    }

    svg {
      fill: $white;
    }
  }

  .button-prev {
    &:hover {
      transform: translateX(-5px);
    }
    left: 15px;
    svg {
      transform: rotate(180deg);
    }
  }

  .link-hand {
    margin-top: 31px;
    display: inline-block;
  }

  .swiper-slide {
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrap {
    @include respond(0, 740px) {
      width: 100%;
    }
  }
  .image-wrap img {
    height: 324px;
    object-fit: cover;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-excerpt {
    @include respond(1280px) {
      margin-right: 51px;
      max-width: 564px;
    }
  }
}