@import "fonts";
@import "variables";
@import "mixins";

button,
input,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container-wild {
  max-width: $container-wild-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.checkbox {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: $white;
  line-height: 1.667;
  cursor: pointer;
  letter-spacing: 0.2px;

  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  input:checked + span {
    background: $white url(../img/sprite.svg#check-symbol) no-repeat center;
    background-size: 15px 13px;
  }

  span {
    width: 25px;
    height: 25px;
    display: inline-block;
    box-shadow: inset 0 0 0 1px $white;
    transform: translateY(8px);
    margin-right: 10px;
    transition: background 250ms ease;
    background-position: center;
  }

  a {
    text-decoration: none;
    color: $white;
    display: inline-block;
    border-bottom: 1px solid $white;
  }
}

input {
  font-family: 'TT Norms', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: "TT Norms", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  &.feedback-open {
    overflow: hidden;
    #feedback-popup {
      transform: translateX(0);
    }
  }
}

#atom {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: auto;
  padding-top: ($header-padding * 2) + 64px;
}

.atom-inner {
  flex: 1 0 auto;

  .feedback-image {
    top: 107px;

    @include respond(1740px) {
      right: 195px;
    }
    @include respond(1500px, 1740px) {
      right: 70px;
    }

    @include respond(1280px, 1500px) {
      width: 500px;
      right: 70px;
    }

    @include respond(0, 1280px) {
      display: none;
    }
  }
}

footer {
  background: $white;
  flex: 0 0 auto;
  padding: 70px 0 90px 0;
}

nav {
  display: flex;

  .nav-link {
    font-family: "TT Norms", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: .5px;

    @include respond(0, 760px) {
      display: none;
    }
  }

  .nav-link_separator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateY(6px);
    margin: 0 40px;
    @include respond(0, 760px) {
      display: none;
    }
    @include respond(760px) {
      display: inline-block;
    }
  }



}

.burger {
  cursor: pointer;
  margin-left: 48px;
  width: 31px;
  &:hover {
    .burger-line_1 {
      width: 16px;
    }

    .burger-line_3 {
      width: 32px;
    }
  }

  .burger-line {
    height: 3px;
    transition: width 350ms ease;

    &_1 {
      width: 31px;
      margin-bottom: 6px;
    }

    &_2 {
      width: 24px;
      margin-bottom: 6px;
    }

    &_3 {
      width: 16px;
    }
  }
}

.atom-copyright {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  color: $gray;
  line-height: 1.5;
  margin: 22px 0 28px;
  letter-spacing: .4px;
}

.contact-icons {
  margin-left: auto;
  display: inline-flex;
  align-items: center;

  .wtsp {
    margin-right: 30px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    svg {
      transition: fill 300ms ease;
    }
  }
}

.striped {
  position: relative;
  &_gray {
    &:before {
      background: $white;
    }
    &:after {
      width: 88px;
      height: 85px;
      background: url(../img/sprite.svg#stripe) no-repeat;
    }
  }
  &_white {
    &:before {
      background: $blue;
    }
    &:after {
      width: 88px;
      height: 85px;
      background: url(../img/sprite.svg#stripe-white) no-repeat;
    }
  }
  &_gray,
  &_white {
    @include respond(1280px) {
      &:before {
        content: '';
        position: absolute;
        width: 48px;
        height: 22px;
        z-index: 1;
        display: block;
        transform: rotate(45deg);
        top: 38px;
        left: -23px;
        pointer-events: none;
      }
      &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: -41px;
        z-index: 2;
        pointer-events: none;
      }
    }
  }
}

.atom-phone {
  font-family: "TT Norms", sans-serif;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
  position: relative;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: $header-padding 0;

  @include respond(0, 1170px) {
    .wtsp,
    .tlgr {
      display: none;
    }
  }

  .atom-phone {
    font-size: 22px;
    font-weight: 500;

    @include respond(1170px) {
      margin-right: 40px;
    }

    &:hover {
      opacity: .75;
    }

  }

  .atom-logo {
    position: relative;
    z-index: 10;
    @include respond(1020px) {
      margin-right: 84px;
    }
    @include respond(0, 1020px) {
      margin-right: auto;
    }
  }

  .contact-icons {
    @include respond(0, 1020px) {
      display: none;
    }
  }

    // Белый фон, сине-черный текст

  &-light {
    background: $white;

    .atom-phone {
      color: $dark-shade;
    }

    @include social-icons;

    .nav-link_separator {
      border: 2px solid $blue;
    }

    .burger-line {
      background: $blue;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $blue;
      }
    }

    nav {
      .nav-link {
        color: $dark-shade;

        &:after {
          background: transparentize($dark-shade, .5);
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  // Темный фон, светлый текст
  &-dark {
    background: $blue;

    .atom-phone {
      color: $white;
    }

    .contact-icons {
      svg {
        fill: $white;
      }
    }

    .nav-link_separator {
      border: 2px solid $white;
    }

    .burger-line {
      background: $white;
    }

    .atom-logo {
      display: inline-block;

      svg {
        display: block;
        fill: $white;
      }
    }

    nav {
      .nav-link {
        color: $white;

        &:after {
          background: transparentize($white, .5);
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  .header-inner {
    display: flex;
    align-items: center;

    .nav-link:after {
      content: '';
      height: 2px;
      display: block;
      transition: width 300ms ease;
      transform: translateY(5px);
      will-change: transform;
      width: 0;
    }
  }
}

.logo-link {
  display: inline-block;
  svg {
    display: block;
  }
}

.footer-nav {
  .footer-nav_item {
    @include respond(0, 980px) {
      margin: 12px 0;
    }
  }
  @include respond(980px) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-auto-flow: column;
    grid-row-gap: 30px;
    padding-top: 15px;
  }

  a {
    font-size: 18px;
    font-family: "TT Norms", sans-serif;
    color: $dark-shade;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    transition: color 250ms ease;
    letter-spacing: 0.5px;

    &.active,
    &:hover {
      color: $blue;
    }
  }
}

#map {
  background: $map-background;
  width: 100%;

  @include respond(760px) {
    min-height: 700px;
  }
  @include respond(0, 760px) {
    min-height: 400px;
  }

  .ymaps-layers-pane {
    -webkit-filter: grayscale(100%);
  }
}

footer {
  background: $white;

  @include respond(980px) {
    padding: 70px 0 90px 0;
  }

  @include respond(0, 980px) {
    padding: 30px 0;
  }

  .footer-inner {
    @include respond(980px) {
      display: flex;
    }
    .column {
      width: 100%;
      @include respond(0, 980px) {
        text-align: center;
      }
    }
    .column_1 {
      @include respond(1280px) {
        max-width: 360px;
      }
      @include respond(980px, 1280px) {
        max-width: 300px;
      }
    }
    .column_2 {
      @include respond(0, 980px) {
        margin: 30px 0;
      }
    }
    @include respond(980px) {
      .column_3 {
        text-align: right;
      }
    }
  }

  .atom-phone {
    color: $light-gray;
    font-weight: bold;
    line-height: 1.083;

    @include respond(1280px) {
      font-size: 48px;
    }
    @include respond(0, 1280px) {
      font-size: 34px;
    }
  }

  .logo-link {
    svg {
      fill: $blue;
    }
  }

  @include social-icons;
}

.feedback-form {
  position: relative;

  @include respond(1280px) {
    padding: 128px 0 121px;
  }
}

section {

  &.contacts {
    @include respond(0, 1100px) {
      padding: 40px 0;
    }
    @include respond(1100px) {
      padding: 110px 0 122px 0;
    }
    .grid-cell_inner {
      @include respond(1024px) {
        max-width: 485px;
      }
    }
    .contacts-grid {
      display: flex;
      @include respond(0, 1024px) {
        align-items: center;
        text-align: center;
      }
      @include respond(1100px) {
        align-items: flex-start;
      }
      @include respond(0, 1100px) {
        flex-direction: column;
      }
      &_cell {
        .cell-item {
          &:not(:last-child) {

            @include respond(0, 980px) {
              margin-bottom: 30px;
            }
            @include respond(980px) {
              margin-bottom: 70px;
            }
          }
        }

        &:nth-child(1) {
          @include respond(1024px) {
            max-width: 726px;
          }
          width: 100%;
        }
        &:nth-child(2) {
          padding-top: 40px;
          @include respond(1024px) {
            max-width: 309px;
          }
          width: 100%;
        }
        &:nth-child(3) {
          padding-top: 40px;
          flex: 1;
          @include respond(1024px) {
            min-width: 200px;
          }
        }
      }
      .cell-title {
        font-size: 21px;
        line-height: 32px;
        font-family: "TT Norms", sans-serif;
        font-weight: 500;
        color: $contact-cell-title-color;
      }
      .cell-content {
        font-size: 18px;
        font-family: "TT Norms", sans-serif;
        color: $dark-shade;
        font-weight: 500;
        line-height: 1.667;
        .cell-content_phone {
          a {
            color: $dark-shade;
            font-size: 18px;
            font-family: "TT Norms", sans-serif;
            text-decoration: none;
            transition: color 300ms ease;
            &:hover {
              color: $blue;
            }
          }
        }
        .phone {
          font-size: 42px;
          font-weight: bold;
          color: $blue;
          text-decoration: none;
          font-variant-ligatures: none;
          position: relative;
          display: inline-block;
          line-height: 1.55;
          &:after {
            content: '';
            width: 100%;
            height: 3px;
            background: $blue;
            display: block;
          }
        }
      }
      .page-title {
        margin-bottom: 24px;
      }
      .page-description {
        letter-spacing: 0.2px;
      }
      .contacts-button {
        max-width: 485px;
        margin-top: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(0, 1100px) {
          padding-top: 25px;
          margin: 0 auto;
        }
        .link-hand {
          @include respond(0, 525px) {
            margin-top: 38px;
            margin-bottom: 18px;
          }
        }
        @include respond(0, 525px) {
          flex-direction: column;
        }
      }
    }
  }

  &.feedback {
    background: $blue;

    @include respond(0, 1280px) {
      padding: 35px 0;
    }

    .feedback-titlе {
      font-family: "TT Norms", sans-serif;
      margin-bottom: 37px;
      color: $white;
      @include respond(0, 1280px) {
        text-align: center;
      }
      @include respond(1280px) {
        margin-left: 30px;
      }
      @include respond(760px) {
        font-size: 48px;
      }
      @include respond(0, 760px) {
        font-size: 32px;
      }
      .bold {
        font-weight: bold;
      }
      .last {
        @include respond(1280px) {
          margin-left: 60px;
        }
      }
    }
    .form {
      max-width: 615px;
      @include respond(0, 1280px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }
  &.home {
    background: $blue;
    min-height: 100vh;
  }
}

.form {
  @include respond(1336px) {
    margin-bottom: 40px;
  }
  .input {
    border: none;
    outline: none;
    background: none;
    color: $white;
    padding: 9px 0;
    font-size: 18px;
    letter-spacing: 0.25px;
    width: 100%;
    box-sizing: border-box;
  }

  .form-body {
    display: grid;
    grid-column-gap: 45px;
    grid-row-gap: 40px;
    margin-bottom: 32px;
    @include respond(640) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(0, 640) {
      grid-template-columns: 1fr;
    }

  }

  .policy {
    margin-bottom: 48px;
  }

  .input-wrap_wild {
    @include respond(640px) {
      grid-column: 1 / 3;
    }
  }

  .input-wrap {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px solid $white;
    padding-bottom: 2px;
    &.active {
      .input-placeholder {
        top: -15px;
        font-size: 13px;
        opacity: .7;
      }
    }

    .input-placeholder {
      position: absolute;
      font-family: 'TT Norms', sans-serif;
      font-size: 18px;
      color: $white;
      pointer-events: none;
      top: 8px;
      letter-spacing: 0.4px;
      transition: top 250ms ease, opacity 250ms ease, font-size 250ms ease;
    }

  }
}

.button {
  font-family: "TT Norms", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 1.2;
  border-radius: 30px;
  border: none;
  padding: 21px 35px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;

  &_blue {
    background: $blue;
    color: $white;
    font-size: 15px;
  }

  &_white {
    background: $white;
    color: $blue;
    font-size: 15px;
  }

  .up,
  .down {
    position: relative;
    transition: opacity 0.15s ease-in-out, top 0.25s ease-in-out;
    will-change: top;
  }
  .up {
    top: 0;
    opacity: 1;
  }
  .down {
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    right: 0;
    top: 80px;
    width: 100%;
  }
  &:hover {
    .up {
      top: -60px;
      opacity: 0;
    }
    .down {
      top: 21px;
      opacity: 1;
    }
  }
}

.atom-address {
  font-size: 18px;
  font-family: "TT Norms", sans-serif;
  color: $dark-shade;
  line-height: 1.667;
  margin-top: 22px;
  margin-bottom: 48px;
  span {
    border-bottom: 3px solid $blue;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 0.2px;
  }
}

#feedback-popup {
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 450ms ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: $blue;
  color: $white;
  z-index: 200;
  will-change: transform;

  @include respond(1280px) {
    padding: 51px 0;
  }
  @include respond(0, 1280px) {
    padding: 25px 0;
  }

  .feedback-image {

    @include respond(1740px) {
      right: 195px;
      top: 75px;
    }
    @include respond(1500px, 1740px) {
      right: 70px;
      top: 75px;
    }

    @include respond(1280px, 1500px) {
      width: 500px;
      right: 70px;
      top: 75px;
    }

    @include respond(0, 1280px) {
      display: none;
    }

  }

  .container-wild {
    position: relative;
  }

  .atom-logo {
    display: inline-block;
  }

  svg {
    display: block;
    fill: $white;
  }

  .form-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: $container-padding;
    svg {
      transition: transform 200ms ease;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }

  .feedback-form {
    height: 100%;

    @include respond(1280px) {
      padding-top: 94px;
    }
    @include respond(0, 1280px) {
      padding-top: 24px;
    }
  }

}

.feedback-image {
  width: 641px;
  user-select: none;
  position: absolute;
  pointer-events: none;
  img {
    width: 100%;
  }
}

.headline {
  font-family: "TT Norms", sans-serif;
  color: $dark-shade;
  font-weight: bold;
  line-height: 1.194;

  @include respond(0, 760px) {
    font-size: 38px;
  }
  @include respond(760px) {
    font-size: 62px;
  }
}

.text-medium {
  font-family: "TT Norms", sans-serif;
  font-size: 21px;
  line-height: 32px;
}

.link-hand {
  font-size: 16px;
  font-family: "TT Norms", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-shade;
  letter-spacing: .2px;
  position: relative;
  transition: color 300ms ease;
  &:hover {
    color: $blue;
    svg {
      fill: $blue;
    }
    &:before {
      width: 0;
    }
  }
  &:before {
    pointer-events: none;
    transition: width 300ms ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    right: 0;
    height: 3px;
    width: 100%;
    background: $blue;
    will-change: width;
  }
  svg {
    transform: rotate(90deg) translateX(1px);
    transition: fill 300ms ease;
    margin-left: 6px;
  }

}